


@media (max-width: 700px) {
    .container_header {
        flex-direction: column;
        align-items: stretch;
    }

    .menu_nav ul {
        justify-content: center;
    }

    .cotainer_form {
        justify-content: center;
    }
}