
/*CONTAINERS CENTRALES*/
.admin_index_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
   width: 1000px;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    border-radius: 1rem;
    border: 2px solid grey;
    background-color: white;
    box-shadow: 0 0 5px grey, 0 0 10px grey, 0 0 15px grey;
    padding-bottom: 1vh;
    padding-top: 1vh;
    text-align: justify;
}





/*BOTONES*/
.btn_modificarStock {
    text-decoration: none;
    background-color: #333;
    color: #fff;
    border: none;
    padding: 4px 8px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.btn_modificarStock:hover {
    background-color: #c0392b;
}

.boton_modificarAdmin{
    display: block;
    margin: 0 auto;
}