

/*Aquí se repite btn_login, btn_modificarStock, btn_crearProducto, btn_logoff, btn_contacto, btn_buscarReserva*/
.btn_buscarReserva, .btn_modificarStock, .btn_crearProducto, .btn_logoff, .btn_login, .btn_contacto {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 18px;
    border-radius: 5px;
    font-size: 0.95rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
