
/*TÍTULO*/
.titulo_form.contacto_titulo {
    text-align: center;
    margin-bottom: 3vh; 
    color: white;
    text-shadow: 1px 1px 2px #000;
}

/*CONTENEDOR*/
.formulario.formulario_contacto {
    width: 65vw;
    max-width: 100%;

    padding-top: 2.2vh;
    padding-bottom: 2.2vh;
    border: 2px solid grey;
    border-radius: 1rem;
    box-shadow: 0 0 5px grey, 0 0 10px grey, 0 0 15px grey;
    background-color: white;
    box-sizing: border-box;
}

.formulario.formulario_contacto label {
    font-weight: bold;
    color: #444;
    font-family: 'Lato', sans-serif;
}

.formulario_contacto div {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.formulario_contacto input,
.formulario_contacto textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
}

textarea{
    resize: none;
}

.formulario_contacto {
    display: grid;
    justify-content: center;
    gap: 10px;
    font-size: 1rem;
}

.container_form.formulario_contacto input[type="email"],
.container_form.formulario_contacto input[type="text"],
#mensaje {
    padding: 1.3vh 1.1vw;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 0.95rem;
    width: 13vw;
}
.formulario {
    display: grid;
    justify-content: center;
    gap: 10px;
    font-size: 1rem;
}
#nombre,
#email {
    width: 60%;
}


/*BOTÓN*/
.btn_contacto {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 18px;
    border-radius: 5px;
    font-size: 0.95rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn_contacto:hover {
    background-color: #27ae60;
}
