

.container_footer.footer {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    margin-top: auto; 
    padding-top: 3vh;
    padding-bottom: 3vh;

    background-color: #ffffff;
    border-radius: 12px;

    box-shadow: 0 0 6px rgba(0,0,0,0.15), 
                0 0 12px rgba(0,0,0,0.10);

    font-family: 'Poppins', 'Lato', sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: 0 0 5px grey, 0 0 10px grey, 0 0 15px grey;
      
    text-shadow: 1px 1px 2px #000;
}

.parrafo_footer {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-weight: 600;
    color: #222;
    letter-spacing: 0.6px;
    text-align: center;
}



