* {
    margin: 0;
    padding: 0;
}

html{
    height: 100vh;
}

body {
    /*background-color: #d7d6d6;*/
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    background-color: black;
    color: black;
    font-family: 'Playfair Display', serif;  
    height: 100vh;  
    
}


ul {
    width: 100%;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    list-style: none;
}

li, .container_buscador {
    display: flex;
    align-items: center;
}


textarea{
    resize: none;
    
}



