

/*GENERAL*/

* {
    margin: 0;
    padding: 0;
}


html, body {
    margin: 0;
    padding: 0;
    background-color: #1a2732;
    color: black;
    font-family: 'Playfair Display', serif;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 2vh;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-bottom: 2vh;
}

main {
    flex: 1; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;     
    box-sizing: border-box;
    gap: 3rem; 
}



