.logo {
    font-size: 30px;
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fafafa;
    text-shadow: 0 0 5px #0ff,
        0 0 5px #0ff,
        0 0 15px #0ff,
        0 0 35px #0ff;

}



.volver_ppal{
    text-decoration: none;
}

.volver_ppal:visited{
color: #fafafa;
    text-shadow: 0 0 5px #0ff,
        0 0 5px #0ff,
        0 0 15px #0ff,
        0 0 35px #0ff;
}



.img_producto {
    width: 150px;       /* ancho fijo */
    height: 150px;       /* mantiene proporción */
    border-radius: 5px; /* opcional, bordes redondeados */
    margin: 5px 0;      /* espacio arriba y abajo */
}