





.container_info{
    background-color:white;
    /*width: 800px;*/
    width: 1000px;
    margin: 0 auto;
    border-radius: 1rem;
    box-shadow: 0 0 0.1rem black;
    transition: box-shadow 0.3s ease;
}

.container_info:hover{
    box-shadow: 0 0 0.4rem black;
}
.container_info h2, .header_reserva{
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 2rem;
    padding-top: 1rem;
}
.info_rest{
    padding: 0 2rem 2rem 2rem;
    text-align: justify;
    font-size: 18px;
    line-height: 1.8;
    text-shadow: 0 0 0.3rem #eaeaea;
}
.container_video{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.container_video video{
    background-color: grey;
    box-shadow: 0 0 5px grey, 0 0 10px grey, 0 0 15px grey;
    border-radius: 10px;
}






