/*
#hr1{
    border: 1px solid #0ff;
    background-color: #0ff;
    height: 5px;
    width: 100vw;
    position: fixed;
    z-index: -1;
    right: 40%;
    box-shadow: 0 0 5px #0ff, 0 0 10px #0ff, 0 0 15px #0ff, 0 0 20px #0ff; 
    border-radius: 10px;
    transform: rotate(90deg);
}

#hr4{
    border: 1px solid #0ff;
    background-color: #0ff;
    height: 5px;
    width: 200vw;
    position: absolute;
    z-index:1001;
    left: 40%;
    box-shadow: 0 0 5px #0ff, 0 0 10px #0ff, 0 0 15px #0ff, 0 0 20px #0ff; 
    border-radius: 10px;
    transform: rotate(90deg);
}
*/








