
.popup, #popup-modificar-reserva {
  display: flex; 
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: rgba(0,0,0,0.5);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}


.popup-contenido, #popup-modificar-reserva .popup-contenido {
  background: #fff;
  padding: 25px;
  border-radius: 10px;
  width: 320px;
  text-align: center;
  position: relative;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

/* Botón de cierre */
#cerrar, #cerrar-modificar-reserva {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
  font-size: 22px;
  color: #888;
}

#cerrar:hover, #cerrar-modificar-reserva:hover {
  color: #333;
}

/* Botón Aceptar */
#aceptar, #aceptar-modificar-reserva {
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#aceptar:hover, #aceptar-modificar-reserva:hover {
  background-color: #0056b3;
}

/* Botón Cancelar */
#cancelar, #cancelar-modificar-reserva {
  margin-top: 15px;
  margin-left: 10px;
  padding: 10px 20px;
  background-color: #ccc;
  color: #333;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#cancelar:hover, #cancelar-modificar-reserva:hover {
  background-color: #aaa;
}



