
/*CONTAINER CARTA*/
.container_form.carta_container {
    background-color: white;
    /*width: 800px;*/
   width: 1000px;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    border-radius: 1rem;
    border: 2px solid grey;
    background-color: white;
    box-shadow: 0 0 5px grey, 0 0 10px grey, 0 0 15px grey;
    padding-bottom: 20px;
}


.container_form.carta_container form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-bottom: 2rem;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1.5rem;
}

.container_form.carta_container label {
    font-weight: bold;
    color: #444;
    font-family: 'Lato', sans-serif;
}

.container_form.carta_container h2 {
    margin-top: 1rem;
    font-size: 1.4rem;
    font-family: 'Playfair Display', serif;
    color: #222;
    text-align: center;
}

.container_form.carta_container p {
    margin: 6px 0;
    font-family: 'Lato', sans-serif;
    color: #333;
}

.container_form.carta_container p strong {
    color: #000;
}




.container_form.carta_container input[type="text"],
.container_form.carta_container input[type="date"],
.container_form.carta_container input[type="password"],
.container_form.carta_container input[type="email"],
.container_form.carta_container input[type="number"],
#hora_inicio,
#mensaje select>option {
    padding: 8px 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 0.95rem;
    width: 200px;
}

.titulo_form.carta_titulo {
    text-align: center;
    /*margin-top: 4rem;*/
    margin-bottom: 2rem;
    padding-top: 1rem;
}



/*ACCORDION*/
.accordion-content {
    display: none;
    padding-left: 20px;
    margin-bottom: 10px;
    transition: max-height 0.3s ease;
}

.accordion-header {
    cursor: pointer;
    font-weight: bold;
    margin: 10px 0;
    padding: 5px;
    border-bottom: 1px solid #ccc;
}

.accordion-header:hover {
    color: #007BFF;
}





/*BOTÓN AÑADIR*/
.btn_añadir {
    text-decoration: none;
    background-color: #333;
    color: #fff;
    border: none;
    padding: 4px 8px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
}
.btn_añadir:hover {
    background-color: #27ae60;
}