

/*GENERAL*/

* {
    margin: 0;
    padding: 0;
}


html, body {
    margin: 0;
    padding: 0;
    background-color: #1a2732;
    color: black;
    font-family: 'Playfair Display', serif;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 5vh 5vw;
}

main {
    flex: 1; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;     
    box-sizing: border-box;
    gap: 3rem; 
     /*Con este padding se centra el contenido de la historia del restaurante*/
}



