/*HISTORIA DEL RESTAURANTE*/
.container_info.index_info {
    background-color: white;
    /*width: 800px;*/
    width: 100%;
    max-width: 65vw;
    /*margin: 0 auto;*/
    border-radius: 1rem;
    box-shadow: 0 0 0.1rem black;
    transition: box-shadow 0.3s ease;
    padding: 1rem;
}

.container_info.index_info:hover {
    box-shadow: 0 0 0.4rem black;
}

.container_info.index_info h2,
.header_reserva.index_querer_reservar {
    text-align: center;
    /*margin-top: 4rem;*/
    margin-bottom: 2rem;
    padding-top: 1rem;
}

.info_rest.index_historia {
    padding: 0 2rem 2rem 2rem;
    text-align: justify;
    font-size: 18px;
    line-height: 1.8;
    text-shadow: 0 0 0.3rem #eaeaea;
}

/*VÍDEO*/
.container_video.index_video {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.container_video.index_video video {
    background-color: grey;
    box-shadow: 0 0 5px grey, 0 0 10px grey, 0 0 15px grey;
    border-radius: 10px;
    width: 1000px;
    max-width: 100%;
    height: 50vh;
    max-height: 100%;
}

/*PLANO DE MESAS*/
.container_plano.index_container_plano {
    margin: 4rem auto 7rem auto;
    width: 100%;
    max-width: 1000px;
    /*background-color: white;*/
}

.header_reserva.index_header_reserva,
.header_reserva.index_querer_reservar {
    color: white;
    text-shadow: 1px 1px 2px #000;
    text-align: center;
    justify-items: center;
    /*text-shadow: 0 0 5px grey, 0 0 10px grey, 0 0 15px grey;*/
}

.header_reserva.index_querer_reservar p {
    text-align: justify;
}

.querer_reservar_info {
    text-align: justify;
}

.tabla{
    width: 100%;
    max-width: 1000px;
    height: 60vh;
    max-height: 100%;
    border: 2px solid grey;
    background-color: white;
    box-shadow: 0 0 5px grey, 0 0 10px grey, 0 0 15px grey;
}

.celda{
   width: auto; 
   /*padding: 10px;*/
   margin: 0;
}

.celda:hover span{
    background-color: #1a2732;
    box-shadow: 0 0 5px grey, 0 0 10px grey;
}

.silla1, .mesa, .silla2, .silla3, .silla4{
    display: inline-block;
    background-color: grey;
    border: 1px solid grey;
    position: relative;
}

.mesa{
    width: 2.6vw;
    max-width: 100%;
    height: 11vh;
    max-height: 100%;
    border-radius: 5px;
    margin: 0 4vw 0 4.05vw;
}

.silla1, .silla2, .silla3, .silla4{
    width: 1.95vw;
    max-width: 100%;
    height: 4vh;
    max-height: 100%;
    position: relative;
}

.silla1{
    border-radius: 0.8vw 0 0 0.8vw;
    left: 1.6vw;
    top: 5.7vh;
}

.silla2{
    border-radius: 0 0.8vw 0.8vw 0;
    left: 4.8vw;
    top: 5.7vh;
}

.silla3{
    border-radius: 0.8vw 0 0 0.8vw;
    left: 1.6vw;
    top: -6.1vh;
}

.silla4{
    border-radius: 0 0.8vw 0.8vw 0;
    left: 4.8vw;
    top: -6.1vh;
}

.mesa-no-disponible {
    opacity: 0.4;
    pointer-events: none;
    cursor: not-allowed;
}