* {
    margin: 0;
    padding: 0;
}

html{
    height: 100vh;
}

body {
    /*background-color: #d7d6d6;*/
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    background-color: black;
    color: black;
    font-family: 'Playfair Display', serif;  
    height: 100vh;  
    
}

.volver_ppal{
    text-decoration: none;
}

.volver_ppal:visited{
color: #fafafa;
    text-shadow: 0 0 5px #0ff,
        0 0 5px #0ff,
        0 0 15px #0ff,
        0 0 35px #0ff;
}

#carta{
    color: #fff;
    text-shadow: 0 0 5px #0ff,
        0 0 5px #0ff,
        0 0 15px #0ff,
        0 0 35px #0ff;
}

#hr1{
    border: 1px solid #0ff;
    background-color: #0ff;
    height: 5px;
    width: 90vw;
    position: fixed;
    z-index: -1;
    right: 40%;
    box-shadow: 0 0 5px #0ff, 0 0 10px #0ff, 0 0 15px #0ff, 0 0 20px #0ff; 
    border-radius: 10px;
    transform: rotate(90deg);
}

#hr4{
    border: 1px solid #0ff;
    background-color: #0ff;
    height: 5px;
    width: 100vw;
    position: fixed;
    z-index: -1;
    left: 40%;
    box-shadow: 0 0 5px #0ff, 0 0 10px #0ff, 0 0 15px #0ff, 0 0 20px #0ff; 
    border-radius: 10px;
    transform: rotate(90deg);
}

.container_header,
.container_footer {
    background-color: #8c8a8a;
    font-family: 'Libre Baskerville', serif;
    /*box-shadow: 0 0 5px grey, 0 0 10px grey, 0 0 15px grey;*/
    box-shadow: 0 0 5px grey, 0 0 10px #0ff, 0 0 15px #0ff, 0 0 20px #0ff, 0 0 25px #0ff; 
    color: white;
    text-shadow: 1px 1px 2px #000;
}

.container_header{
    position: sticky;
    top: 0;
    z-index: 1;
}

.logo {
    font-size: 30px;
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fafafa;
    text-shadow: 0 0 5px #0ff,
        0 0 5px #0ff,
        0 0 15px #0ff,
        0 0 35px #0ff;

}

.menu_nav {
    width: 65%;
}

.container_carrito {
    width: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_buscador {
    width: 15%;
}

.container_header,ul {
    display: flex;
    height: 4em;
}

ul {
    width: 100%;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    list-style: none;
}

li, .container_buscador {
    display: flex;
    align-items: center;
}

.link_menu {
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px 2px #000;
    transition: text-shadow 0.2s ease;
}

.link_menu:hover {
    color: #fff;
    text-shadow: 0 0 5px #0ff,
        0 0 5px #0ff,
        0 0 15px #0ff,
        0 0 35px #0ff;
    /*transform: scale(1.15) rotate(10deg, -20deg);*/
    /*animation: rotarLadoALado 1s infinite ease-in-out;
    transform-origin: bottom center;*/
}


/* SEGUIR POR AQUÍ */
.carrito {
    color: black;
    transition: text-shadow 0.2s ease;
}

.carrito:hover {
    transform: scale(1.5);
    color: #fff;
    text-shadow: 0 0 1px #0ff,
        0 0 3px #0ff,
        0 0 6px #0ff,
        0 0 10px #0ff;
}

.container_form{
    background-color:white;
    /*width: 800px;*/
    width: 1000px;
    height: auto;
    margin: 0 auto;
    border-radius: 1rem;
    border: 2px solid grey;
    background-color: white;
    box-shadow: 0 0 5px grey, 0 0 10px grey, 0 0 15px grey;
    padding-bottom: 20px;
}

.titulo_form{
    text-align: center;
    /*margin-top: 4rem;*/
    margin-bottom: 2rem;
    padding-top: 1rem;
}
.formulario{
    display: grid;
    justify-content: center;
    gap: 10px;
    font-size: 1rem;
}

#nombre, #email{
    width: 60%;
}

textarea{
    resize: none;
    
}

.container_footer{
    /*position: fixed;*/
    display: grid;
    align-self: end;
    width: 100vw;
    height: 2.5em;
    margin-bottom: 0px;
    text-align: center;
    padding-top: 1.5em; 
    
}


* {
    margin: 0;
    padding: 0;
}

html{
    height: 100vh;
}

body {
    /*background-color: #d7d6d6;*/
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    background-color: black;
    color: black;
    font-family: 'Playfair Display', serif;  
    height: 100vh;  
    
}



#contacto{
    color: #fff;
    text-shadow: 0 0 5px #0ff,
        0 0 5px #0ff,
        0 0 15px #0ff,
        0 0 35px #0ff;
}


























.carrito {
    color: black;
    transition: text-shadow 0.2s ease;
}

.carrito:hover {
    transform: scale(1.5);
    color: #fff;
    text-shadow: 0 0 1px #0ff,
        0 0 3px #0ff,
        0 0 6px #0ff,
        0 0 10px #0ff;
}

.container_form{
    background-color:white;
    /*width: 800px;*/
    width: 1000px;
    height: auto;
    margin: 0 auto;
    border-radius: 1rem;
    border: 2px solid grey;
    background-color: white;
    box-shadow: 0 0 5px grey, 0 0 10px grey, 0 0 15px grey;
    padding-bottom: 20px;
}

.titulo_form{
    text-align: center;
    /*margin-top: 4rem;*/
    margin-bottom: 2rem;
    padding-top: 1rem;
}
.formulario{
    display: grid;
    justify-content: center;
    gap: 10px;
    font-size: 1rem;
}

#nombre, #email{
    width: 60%;
}

textarea{
    resize: none;
    
}

.container_footer{
    /*position: fixed;*/
    display: grid;
    align-self: end;
    width: 100vw;
    height: 2.5em;
    margin-bottom: 0px;
    text-align: center;
    padding-top: 1.5em; 
    
}



* {
    margin: 0;
    padding: 0;
}

body {
    /*background-color: #d7d6d6;*/
    background-color: black;
    color: black;
    font-family: 'Playfair Display', serif;    
}



/*#hr2{
    border: 1px solid #0ff;
    background-color: #0ff;
    height: 5px;
    width: 90%;
    position: fixed;
    z-index: -1;
    bottom: 95px;
    left: 50px;
    right: 50px;
    margin: 0 auto;
    box-shadow: 0 0 5px #0ff, 0 0 10px #0ff, 0 0 15px #0ff, 0 0 20px #0ff; 
    border-radius: 10px;
}

#hr3{
    border: 1px solid #0ff;
    background-color: #0ff;
    height: 5px;
    width: 90%;
    position: fixed;
    z-index: -1;
    top: 95px;
    left: 50px;
    right: 50px;
    margin: 0 auto;
    box-shadow: 0 0 5px #0ff, 0 0 10px #0ff, 0 0 15px #0ff, 0 0 20px #0ff; 
    border-radius: 10px;
}*/



/*body::before{
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url(/images/istockphoto-2154738373-612x612.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}*/







/* ANIMACIÓN DE LA PARTE "ITO" DEL NOMBRE DEL LOGO*/

/*.ito {
    transform: translate(50px, 20px);
    animation: trasladar 2s infinite ease-in-out;
}

@keyframes trasladar {
    0% {
        transform: translate(0px);
    }

    50% {
        transform: translate(5px);
    }

    100% {
        transform: translate(0px);
    }
}*/

/* ANIMACIÓN DE LA PARTE "X" DEL NOMBRE DEL LOGO*/

/*.x {
    animation: escalar 2s infinite ease-in-out;
}

@keyframes escalar {
    0% {
        transform: scale(1.5);
        color: #000;
        text-shadow: 0 0 1px #fff,
            0 0 3px #fff,
            0 0 6px #fff,
            0 0 10px #fff;
    }

    50% {
        transform: scale(0.5);
        color: #fafafa;
        text-shadow: 0 0 5px #0ff,
            0 0 5px #0ff,
            0 0 15px #0ff,
            0 0 35px #0ff;
    }

    100% {
        transform: scale(1.5);
        color: #000;
        text-shadow: 0 0 1px #fff,
            0 0 3px #fff,
            0 0 6px #fff,
            0 0 10px #fff;
    }
}*/

/*.logo:hover {
    text-shadow: 0 0 5px #000,
        0 0 5px #000,
        0 0 15px #000,
        0 0 35px #000;
}*/




















/*@keyframes rotarLadoALado {
    0% {
        transform: rotate(-5deg);
    }

    50% {
        transform: rotate(5deg);
    }

    100% {
        transform: rotate(-5deg);
    }
}*/

.carrito {
    color: black;
    transition: text-shadow 0.2s ease;
}

.carrito:hover {
    transform: scale(1.5);
    color: #fff;
    text-shadow: 0 0 1px #0ff,
        0 0 3px #0ff,
        0 0 6px #0ff,
        0 0 10px #0ff;
}

.container_info{
    background-color:white;
    /*width: 800px;*/
    width: 1000px;
    margin: 0 auto;
    border-radius: 1rem;
    box-shadow: 0 0 0.1rem black;
    transition: box-shadow 0.3s ease;
}

.container_info:hover{
    box-shadow: 0 0 0.4rem black;
}
.container_info h2, .header_reserva{
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 2rem;
    padding-top: 1rem;
}

.info_rest{
    padding: 0 2rem 2rem 2rem;
    text-align: justify;
    font-size: 18px;
    line-height: 1.8;
    text-shadow: 0 0 0.3rem #eaeaea;
}

.container_plano{
    margin: 4rem auto 7rem auto;
    width: auto;
    /*background-color: white;*/
}

.header_reserva{
    color: white;
    text-shadow: 1px 1px 2px #000;
    /*text-shadow: 0 0 5px grey, 0 0 10px grey, 0 0 15px grey;*/
}

.container_video{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.container_video video{
    background-color: grey;
    box-shadow: 0 0 5px grey, 0 0 10px grey, 0 0 15px grey;
    border-radius: 10px;
}

.tabla{
    width: 1000px;
    height: 400px;
    margin: 0 auto;
    border: 2px solid grey;
    background-color: white;
    box-shadow: 0 0 5px grey, 0 0 10px grey, 0 0 15px grey;
}

.celda{
   width: auto; 
   /*padding: 10px;*/
   margin: 0;
}

.celda:hover span{
    background-color: #0ff;
    box-shadow: 0 0 5px grey, 0 0 10px grey;
}

.silla1, .mesa, .silla2, .silla3, .silla4{
    display: inline-block;
    background-color: grey;
    border: 1px solid grey;
    position: relative;
}

.mesa{
    width: 40px;
    height: 80px;
    border-radius: 5px;
    margin: 0 62px 0 61px;
}

.mesa-no-disponible {
    opacity: 0.4;
    pointer-events: none;
    cursor: not-allowed;
}


.silla1, .silla2, .silla3, .silla4{
    width: 30px;
    height: 30px;
    position: relative;
}

.silla1{
    border-radius: 12px 0 0 12px;
    left: 25px;
    top: 43px;
}

.silla2{
    border-radius: 0 12px 12px 0;
    left: 74px;
    top: 43px;
}

.silla3{
    border-radius: 12px 0 0 12px;  
    left: 25px;
    bottom: 45px;
}

.silla4{
    border-radius: 0 12px 12px 0;
    left: 74px;
    bottom: 45px;
}


.container_footer{
    /*position: fixed;*/
    bottom: 0;
    width: 100%;
    height: 2.5em;
    text-align: center;
    padding-top: 1.5em;
}

.mensaje-error {
    color: black;
    text-shadow: 0 0 1px #0ff,
        0 0 3px #0ff,
        0 0 6px #0ff,
        0 0 10px #0ff;
}

.reserva_detalles{
    width: 90%;
    margin: 0 auto 2rem auto;
    border: 2px solid grey;
    background-color: white;
    box-shadow: 0 0 5px grey, 0 0 10px grey, 0 0 15px grey;
    border-radius: 10px;
    padding: 10px;
}

.cabecera_reserva {
    display: flex;                 
    justify-content: space-between;
    align-items: center;           
    flex-wrap: wrap;              
    gap: 10px;                     
    background-color: #f7f7f7;     
    padding: 10px 15px;            
    border: 1px solid #ddd;        
    border-radius: 6px;            
    margin-bottom: 10px;          
}

.cabecera_reserva span {
    text-align: center;            
    min-width: 120px;              
}

.reserva_detalles {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.productos_reserva {
    list-style-type: disc;
    padding-left: 20px;
    margin: 0;
    background-color: #f7f7f7;     
    padding: 10px 15px;            
    border: 1px solid #ddd;        
    border-radius: 6px;            
    margin-bottom: 10px; 
}


.botones {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    flex-wrap: wrap;
}

.botones form {
    margin: 0;
}

.btn_cancelar,  .btn_modificar {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 8px 14px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.btn_añadir, .btn_reservar, .btn_login, .btn_modificarStock, .btn_crearProducto, .btn_logoff, .btn_contacto, .btn_buscarReserva {
    text-decoration: none;
    background-color: #333;
    color: #fff;
    border: none;
    padding: 4px 8px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.btn_cancelar:hover, .btn_logoff:hover, .btn_modificarStock:hover {
    background-color: #c0392b;
}

.btn_modificar:hover, .btn_añadir:hover, .btn_login:hover,  .btn_crearProducto:hover, .btn_contacto:hover, .btn_reservar:hover, .btn_buscarReserva:hover {
    background-color: #27ae60;
}

/* BLOQUE CSS PARA ADMIN-RESERVAS*/

.container_form form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-bottom: 2rem;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1.5rem;
}

.container_form label {
    font-weight: bold;
    color: #444;
    font-family: 'Lato', sans-serif;
}

.container_form input[type="text"],
.container_form input[type="date"],
.container_form input[type="password"],
.container_form input[type="email"],
.container_form input[type="number"],
#hora_inicio,
#mensaje
select>option {
    padding: 8px 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 0.95rem;
    width: 200px;
}

#numero_comensales,
#nombre_categoria,
#tipo_categoria,
#modalidad_producto,
select > option {
    padding: 8px 10px;
    font-size: 0.95rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    color: #333;         /* color de texto */
    background-color: #f5f5f5; /* color de fondo de la opción (parcial en algunos navegadores) */
}

.btn_buscarReserva, .btn_modificarStock, .btn_crearProducto, .btn_logoff, .btn_login, .btn_contacto {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 18px;
    border-radius: 5px;
    font-size: 0.95rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn_buscarReserva:hover {
    background-color: #555;
}


.reserva_detalles_admin {
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fafafa;
    padding: 15px 20px;
    margin-bottom: 25px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.reserva_detalles_admin>p {
    margin-bottom: 10px;
    font-family: 'Playfair Display', serif;
    color: #222;
    font-weight: bold;
    text-align: center;
}

.cabecera_reserva_admin {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #f2f2f2;
    padding: 10px 15px;
    border-radius: 6px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.cabecera_reserva_admin span {
    min-width: 140px;
    font-size: 0.95rem;
    text-align: center;
    color: #333;
    font-weight: bold;
}

.productos_reserva_admin {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 10px 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.productos_reserva_admin p {
    margin: 4px 0;
    font-family: 'Lato', sans-serif;
    font-size: 0.95rem;
    color: #444;
}


.container_form h2 {
    margin-top: 1rem;
    font-size: 1.4rem;
    font-family: 'Playfair Display', serif;
    color: #222;
    text-align: center;
}

.container_form p {
    margin: 6px 0;
    font-family: 'Lato', sans-serif;
    color: #333;
}

.container_form p strong {
    color: #000;
}

/* TABLAS DE ADMIN COMIDAS  */

.tabla_stock {
    width: 80%; 
    margin: 1.5rem auto;
    border-collapse: collapse;
    background-color: #fafafa;
    box-shadow: 0 0 4px grey, 0 0 8px grey, 0 0 12px grey;
    border-radius: 8px;
    overflow: hidden;
    font-family: 'Lato', sans-serif;
    font-size: 0.9rem;
}


.tabla_stock th {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 6px 8px; 
    font-size: 0.9rem;
    white-space: nowrap; 
}


.tabla_stock td {
    text-align: center;
    padding: 4px 6px;
    border-bottom: 1px solid #ccc;
    font-size: 0.9rem;
}


.tabla_stock tr:hover {
    background-color: #e9f9ff;
}


.tabla_stock tr[style*="background-color: #f23232ff;"] {
    color: white;
    font-weight: bold;
}

.tabla_stock input[type="submit"] {
    background-color: #c0392b;
    color: white;
    border: none;
    padding: 4px 8px; 
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 0.8rem;
}

.tabla_stock input[type="submit"]:hover {
    background-color: #e74c3c;
}

.link_menu.activo, .carrito.activo {
  color: #fff;
    text-shadow: 0 0 5px #0ff,
        0 0 5px #0ff,
        0 0 15px #0ff,
        0 0 35px #0ff;
}

.img_producto {
    width: 150px;       /* ancho fijo */
    height: 150px;       /* mantiene proporción */
    border-radius: 5px; /* opcional, bordes redondeados */
    margin: 5px 0;      /* espacio arriba y abajo */
}







