


.header_reserva.reserva_header {
    color: white;
    text-shadow: 1px 1px 2px #000;
    text-align: center;
    justify-items: center;
    margin-top: 0;
}

.container_form.reserva_container {
    background-color: white;
    /*width: 800px;*/
   width: 1000px;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    border-radius: 1rem;
    border: 2px solid grey;
    background-color: white;
    box-shadow: 0 0 5px grey, 0 0 10px grey, 0 0 15px grey;
    padding-bottom: 20px;
}

.container_form.reserva_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 7vh;
}


.container_form.reserva_container form, .reserva_informacion {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-bottom: 2rem;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1.5rem;
}

.container_form.reserva_container label {
    font-weight: bold;
    color: #444;
    font-family: 'Lato', sans-serif;
}

.container_form.reserva_container h2 {
    margin-top: 1rem;
    font-size: 1.4rem;
    font-family: 'Playfair Display', serif;
    color: #222;
    text-align: center;
}

.container_form.reserva_container p {
    margin: 6px 0;
    font-family: 'Lato', sans-serif;
    color: #333;
}

.container_form.reserva_container p strong {
    color: #000;
}

.container_form.reserva_container input[type="text"],
.container_form.reserva_container input[type="date"],
.container_form.reserva_container input[type="password"],
.container_form.reserva_container input[type="email"],
.container_form.reserva_container input[type="number"],
.reserva_informacion input[type="text"],
.reserva_informacion input[type="date"],
.reserva_informacion input[type="password"],
#numero_comensales,
#hora_inicio,
#mensaje,

 select {
    padding: 1.3vh 1.1vw;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 0.95rem;
    width: 13vw;
}


/*MESA*/
.mesa.mesa_reservar{
    margin: 0 4vw 0 3.9vw;
}



/*BOTONES*/
.btn-reservar.btn_reservar, .btn_reservar.boton-confirmar-reserva {
    text-decoration: none;
    background-color: #333;
    color: #fff;
    border: none;
    padding: 4px 8px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.reserva_boton_modificar{
    display: flex;
    justify-content: center;
    justify-items: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.btn-reservar.btn_reservar:hover, .btn_reservar.boton-confirmar-reserva:hover {
    background-color: #27ae60;
}