/*FORMULARIO CONTACTO.PHP*/
.formulario formulario_contacto {

    width: 1000px;
    height: auto;
    margin: 0 auto;

    padding: 20px 20px 20px 20px;
    border: 2px solid grey;
    border-radius: 1rem;
    box-shadow: 0 0 5px grey, 0 0 10px grey, 0 0 15px grey;
    background-color: white;
    box-sizing: border-box;
}

.formulario_contacto div {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.formulario_contacto input,
.formulario_contacto textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
}

.btn_contacto {
    padding: 10px 20px;
    cursor: pointer;
    align-self: center;
}

.formulario {
    display: grid;
    justify-content: center;
    gap: 10px;
    font-size: 1rem;
}

#nombre,
#email {
    width: 60%;
}