/*Aquí se repite btn_login, btn_modificarStock, btn_crearProducto, btn_logoff, btn_contacto, btn_buscarReserva*/
.btn_buscarReserva, .btn_modificarStock, .btn_crearProducto, .btn_logoff, .btn_login, .btn_contacto {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 18px;
    border-radius: 5px;
    font-size: 0.95rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
/*REVISADO*/
* {
    margin: 0;
    padding: 0;
}


/*REVISADO*/
html, body {
    margin: 0;
    padding: 0;
    
    display: flex;
    flex-direction: column;

    background-color: #1a2732;
    color: black;
    font-family: 'Playfair Display', serif;  
    height: 100vh;  
}

/*REVISADO*/
/*body{
    padding-left: 5vw;
    padding-right: 5vw;
padding-top: 3vh;
    padding-bottom: 5vh;
    width: 100vw;
}*/

/*REVISADO*/
main {
    flex: 1; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;     
    
    box-sizing: border-box;
    gap: 3rem; 
    padding-top: 10vh;
}


ul {
    width: 100%;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    list-style: none;
}

li, .container_buscador {
    display: flex;
    align-items: center;
}


textarea{
    resize: none;
    
}



