
.container_info{
    background-color:white;
    /*width: 800px;*/
    width: 1000px;
    margin: 0 auto;
    border-radius: 1rem;
    box-shadow: 0 0 0.1rem black;
    transition: box-shadow 0.3s ease;
}

.container_info:hover{
    box-shadow: 0 0 0.4rem black;
}
.container_info h2, .header_reserva{
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 2rem;
    padding-top: 1rem;
}
.info_rest{
    padding: 0 2rem 2rem 2rem;
    text-align: justify;
    font-size: 18px;
    line-height: 1.8;
    text-shadow: 0 0 0.3rem #eaeaea;
}
.container_video{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.container_video video{
    background-color: grey;
    box-shadow: 0 0 5px grey, 0 0 10px grey, 0 0 15px grey;
    border-radius: 10px;
}

.container_plano{
    margin: 4rem auto 7rem auto;
    width: auto;
    /*background-color: white;*/
}

.header_reserva{
    color: white;
    text-shadow: 1px 1px 2px #000;
    /*text-shadow: 0 0 5px grey, 0 0 10px grey, 0 0 15px grey;*/
}












/*PLANO*/
.tabla{
    width: 1000px;
    height: 400px;
    margin: 0 auto;
    border: 2px solid grey;
    background-color: white;
    box-shadow: 0 0 5px grey, 0 0 10px grey, 0 0 15px grey;
}

.celda{
   width: auto; 
   /*padding: 10px;*/
   margin: 0;
}

.celda:hover span{
    background-color: #0ff;
    box-shadow: 0 0 5px grey, 0 0 10px grey;
}

.silla1, .mesa, .silla2, .silla3, .silla4{
    display: inline-block;
    background-color: grey;
    border: 1px solid grey;
    position: relative;
}

.mesa{
    width: 40px;
    height: 80px;
    border-radius: 5px;
    margin: 0 62px 0 62px;
}

.silla1, .silla2, .silla3, .silla4{
    width: 30px;
    height: 30px;
    position: relative;
}

.silla1{
    border-radius: 12px 0 0 12px;
    left: 25px;
    top: 43px;
}

.silla2{
    border-radius: 0 12px 12px 0;
    left: 74px;
    top: 43px;
}

.silla3{
    border-radius: 12px 0 0 12px;  
    left: 25px;
    bottom: 45px;
}

.silla4{
    border-radius: 0 12px 12px 0;
    left: 74px;
    bottom: 45px;
}

.mesa-no-disponible {
    opacity: 0.4;
    pointer-events: none;
    cursor: not-allowed;
}



/*.index_info{}
.index_historia{}
.index_video{}
.index_container_plano{}
.index_querer_reservar{}*/







