/*FORMULARIO NUEVOSPRODUCTOS.PHP*/

.formulario_productos {
    width: 600px;
    justify-items: center;
}


.formulario_nuevoProducto {
    width: 500px;
    height: auto;
    padding: 20px;
    border: 2px solid grey;
    border-radius: 1rem;
    box-shadow: 0 0 5px grey, 0 0 10px grey, 0 0 15px grey;
    background-color: white;
    box-sizing: border-box;
    margin-top: 10px;
}


.formulario_productos .titulo_form {
    width: 500px;
    text-align: center;
    margin-bottom: 10px;
    margin-bottom: 50px;
    justify-items: center;
}


.formulario_nuevoProducto p,
.formulario_nuevoProducto input,
.formulario_nuevoProducto select {

    width: 100%;
    box-sizing: border-box;
}


.formulario_nuevoProducto input,
.formulario_nuevoProducto select {

    padding: 8px;
    margin-top: 5px;
}


.btn_crearProducto {
    padding: 10px 20px;
    cursor: pointer;
    align-self: center;
}