
.tabla_stock {
    width: 80%; 
    margin: 1.5rem auto;
    border-collapse: collapse;
    background-color: #fafafa;
    box-shadow: 0 0 4px grey, 0 0 8px grey, 0 0 12px grey;
    border-radius: 8px;
    overflow: hidden;
    font-family: 'Lato', sans-serif;
    font-size: 0.9rem;
}


.tabla_stock th {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 6px 8px; 
    font-size: 0.9rem;
    white-space: nowrap; 
}


.tabla_stock td {
    text-align: center;
    padding: 4px 6px;
    border-bottom: 1px solid #ccc;
    font-size: 0.9rem;
}


.tabla_stock tr:hover {
    background-color: #e9f9ff;
}


.tabla_stock tr[style*="background-color: #f23232ff;"] {
    color: white;
    font-weight: bold;
}

.tabla_stock input[type="submit"] {
    background-color: #c0392b;
    color: white;
    border: none;
    padding: 4px 8px; 
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 0.8rem;
}

.tabla_stock input[type="submit"]:hover {
    background-color: #e74c3c;
}












.reserva_detalles_admin {
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fafafa;
    padding: 15px 20px;
    margin-bottom: 25px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.reserva_detalles_admin>p {
    margin-bottom: 10px;
    font-family: 'Playfair Display', serif;
    color: #222;
    font-weight: bold;
    text-align: center;
}

.cabecera_reserva_admin {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #f2f2f2;
    padding: 10px 15px;
    border-radius: 6px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.cabecera_reserva_admin span {
    min-width: 140px;
    font-size: 0.95rem;
    text-align: center;
    color: #333;
    font-weight: bold;
}

.productos_reserva_admin {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 10px 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.productos_reserva_admin p {
    margin: 4px 0;
    font-family: 'Lato', sans-serif;
    font-size: 0.95rem;
    color: #444;
}



.productos_stock_container{}
.productos_stock_titulo{}
.productos_modificar_container{}
.btn_modificarStock{}