.mensaje-error {
    color: black;
    text-shadow: 0 0 1px #0ff,
        0 0 3px #0ff,
        0 0 6px #0ff,
        0 0 10px #0ff;
}



.registro_container {}

.registro_formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.registro_ojo {
    display: flex;
    justify-content: center;
    margin-top: 2px;
    flex-direction: row;
}

.btn_login {}






