#numero_comensales,
#nombre_categoria,
#tipo_categoria,
#modalidad_producto,
select > option {
    padding: 8px 10px;
    font-size: 0.95rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    color: #333; 
    background-color: #f5f5f5; 
}