#popupTerminos {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    z-index: 9999;
    justify-content: center;
    align-items: center;
}

#popupTerminos .popup-content {
    background: #fff;
    padding: 20px;
    max-width: 500px;
    width: 90%;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

#popupTerminos .popup-content h2 {
    margin-top: 0;
}

#popupTerminos .popup-content p {
    text-align: justify;
    margin: 15px 0;
}

#popupTerminos .popup-content button {
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
    font-size: 16px;
}

#popupTerminos .popup-content button:hover {
    background-color: #0056b3;
}