@media (max-width: 1140px) {

.container_form{
    width: 800px;
}

}

@media (max-width: 950px) {
section.container_form{
    width: 700px;
}
}

@media (max-width: 800px) {
section.container_form{
    width: 600px;
}
}

@media (max-width: 700px) {
section.container_form{
    width: 550px;
}
}

@media (max-width: 600px) {
section.container_form{
    width: 450px;
}
}

@media (max-width: 500px) {
section.container_form{
    width: 400px;
}
}

@media (max-width: 400px) {
section.container_form{
    width: 300px;
}
}






